* {
    margin: 0;   
    padding: 0;
}

@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif;
    padding: 30px;
    color: white;
    background-color: #1a1a1a;
}


#logo {
    font-size: 3em;
}

#nav {
    position: fixed;
    bottom: 0;
    padding-bottom: 30px;
}

#nav a {
    text-decoration: none;
    color: white;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    margin-top: 5px !important;
}
