* {
    margin: 0;   
    padding: 0;
}

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding: 30px;
    color: black;
    background-color: #f1f1f1;
}


#logo {
    font-size: 3em;
}

#nav {
    position: absolute;
    bottom: 0;
    padding-bottom: 35px;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    margin-top: 5px !important;
}

#mattonav {
    font-size: 0.8em;
    position: fixed;
    left: 0;
    bottom:0;
    width:100%;
    padding: 5px;
    background-color: #e1e1e1;
}

#mattonav a {
    text-decoration: none;
    color: black;
}

#description {
    position: absolute;
    top:0;
    right:0;
    text-align: justify;
    text-align-last: justify;
    width: 58vw;
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}

#description p {
    margin-bottom: 30px;
}